*
	{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Slab', serif;
	}
	
.container
	{
	width:90%;
	margin:auto;
	}	
	
	
.tran
	{
	background-color:#000000;
	border:1px solid #000000;
	color:#ffffff;
	display:inline-block;
	padding:5px 40px;
	margin-top:5%;
	transition:all linear 2s;
	}
	
.trans
	{
	text-align:center;
	}
	
.tran:hover
	{
	color:#000000;
	background-color:#ffffff;
	}
	
.trans-1
	{
	background-color:#FAAA0A;
	color:#ffffff;
	display:inline-block;
	padding:30px 70px 5px 50px;
	text-align:center;
	margin-top:10%;
	margin-bottom:10%;
	margin-left:22%;
	}

.trans-2
	{
	background-color:#FAAA0A;
	color:#ffffff;
	border:3px solid #ffffff;
	display:inline-block;
	padding:20px 160px;
	margin:50px;
	font-size:30px;
	transition:all linear 2s;
	}	
	
h1
	{
	font-size:60px;
	}
	
.trans-2:hover
	{
	background-color:#ffffff;
	color:#FAAA0A;
	}
	
.trans-3
	{
	background-color:#7948CE;
	height:300px;
	width:600px;
	border:10px solid #000000;
	margin-bottom:10%;
	margin-left:22%;
	transition:all linear 2s;
	}
	
.trans-3:hover
	{
	transform:scale(0.8);
	border:60px solid #000000;
	}
	
.trans-4
	{
	background-color:#585C62;
	height:300px;
	width:600px;
	margin-left:22%;
	border-radius:25px;
	margin-bottom:10%;
	transition:all linear 2s;
	}
	
.trans-5
	{
	color:#ffffff;
	font-family: 'Roboto', sans-serif;
	text-align:center;
	padding-top:20%;
	font-size:70px;
	}

.trans-4:hover
	{
	border-radius:50%;
	transform:scale(0.8);
	}

	
	
	
